# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\新增資料夾 (2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
